<header class="theme-header">
	<div class="theme-header__inner">
		<div class="theme-header__si">
			{% if sitetitle_htmlElement %}<{{ sitetitle_htmlElement }}>{% endif %}{% if sitetitle_linkto %}<a href="<?= htmlspecialchars($px->href('{{ sitetitle_linkto }}')) ?>">{% endif %}{% if _ENV.mode == 'canvas' %}サイト名{% endif %}{% if _ENV.mode == 'finalize' %}<?= htmlspecialchars( $px->conf()->name ) ?>{% endif %}{% if sitetitle_linkto %}</a>{% endif %}{% if sitetitle_htmlElement %}</{{ sitetitle_htmlElement }}>{% endif %}
		</div>
{% if shouldernavi %}
		<div class="theme-header__shouldernavi">{{ shouldernavi }}</div>
{% endif %}

{% if globalnavi %}
		<div class="theme-header__globalnavi">{{ globalnavi }}</div>
{% endif %}

	</div>
</header>
