<div{% if
    _ENV.vars.align
    or _ENV.vars.paragraph
%} class="{% if _ENV.vars.paragraph %}{{ paragraph }}{% endif %}{% if _ENV.vars.align %} px2-text-align-{{ align }}{% endif %}"{% endif %}>
<a href="{{ targetFile }}"{% if _ENV.vars.downloadFilename %} download="{{ downloadFilename }}"{% endif %}{% if _ENV.vars.class or _ENV.vars.display %} class="{{ class }}{% if _ENV.vars.display %} px2-a--{{ display }}{% endif %}"{% endif %}>{{ label }}</a>
</div>
