<div class="px2-image-banner-link{% if _ENV.vars.align %} px2-text-align-{{ align }}{% endif %}{% if _ENV.vars.width %} px2-image-banner-link--width-{{ width }}{% endif %}{% if _ENV.vars.paragraph %} {{ paragraph }}{% endif %}">
<div class="px2-image-banner-link__img">
{% if _ENV.vars.href %}<a href="{{ href }}"{% if _ENV.vars.target %} target="{{ target }}"{% endif %}>{% endif %}<img src="{{ image_src }}" alt="{{ alt_text }}" />{% if _ENV.vars.href %}</a>{% endif %}
{% if _ENV.vars.caption %}
<div class="px2-image-banner-link__caption">{{ caption }}</div>
{% endif %}
</div>
</div>
